extends layout

block content
  h1= title
  - let results = [{ name: "puma", cost: 20.99, Type: "Contander backpack" },{ name: "Under Armor", cost: 30.99, Type: "Hustle backpack" },{ name: "Nike", cost: 40.99, Type: "Elemental backpack" }]
  div.container-fluid
    div.row
      each bag,index in results
       div.col-sm-2(onclick=`buy(${index})`) #{bag.name}
       div.col-sm-2(onclick=`buy(${index})`) #{bag.Type}
       div.col-sm-2(onclick=`buy(${index})`) #{bag.cost}
       br
       hr

  script. 
      function buy(index)
      {
        alert(`you purchased Item ${index+1}`)
      }