extends layout

block content
  h1= title
  - let items = results
  div.container-fluid
    div(class="row m-1")
      each bag,index in results
        - let destination = `dispatch(\"/bag/update?id=${bag._id}\")`
        div(class="row-sm-2", class="m-1" onclick=`buy($index)`) Bag #{bag.name} - #{bag.cost} - #{bag.Type}
          button.btn(class="btn-primary ml-1", onclick= destination) Update

  script. 
      function buy(index)
      {
        alert(`you purchased Item ${index+1}`)
      }
      function dispatch(path){
        window.location.href=path
      }