extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to detial the details
  else
    - let bagid = toShow._id
    - let bagname = toShow.name
    - let bagcost = toShow.cost
    - let bagType = toShow.Type

    div
      div.row
        div(class='bagAttr mr-3') bag ID is:
        div #{bagid}
      div.row
        div(class='bagAttr mr-3') bag Name is:
        div #{bagname}
      div.row
        div(class='bagAttr mr-3') bag Cost is:
        div #{bagcost}
      div.row
        div(class='bagAttr mr-3') bag Type is:
        div #{bagType}
